.main-popular{
    display: block;
    background-image: url('../../assets/img/back_popular_coffee.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-popular .title{
    font-size: 32px;
    font-weight: 600;        
}

.main-popular .wrapper{

    display: flex;
    justify-content: space-evenly;
    background-image: url('../../assets/img/back_popular.png');
    background-repeat: no-repeat;
    background-position: bottom;    
    height: 480px;

}