.main-delivery{
    margin-top: 120px;
    margin-bottom: 120px;
}

.main-delivery .cards{

    display: flex;
    justify-content: space-evenly;
}

.main-delivery .card{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-delivery .card_subtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}